pydantic<3.0.0
fastapi==0.123.7
SQLAlchemy==2.0.44
vk-api
requests
algoliasearch
websockets
sentry-sdk
onepasswordconnectsdk
uvicorn
python-jose
nng_sdk @ git+https://github.com/thealonas/nng-sdk@master
